* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(vacation-background.jpg);
  background-color: rgb(127, 211, 214);
  background-size: cover;
  background-position: center;
}

.login-container {
  height: 70%;
  width: 25%;
  border-radius: 15px;
  background-color: #f1f1f1;
}

.login-header {
  height: 20%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.login-information input {
  display: block;
  margin-top: 12px;
  padding: 2px;
  border-radius: 3px;
  border-style: none;
  background-color: rgb(170, 252, 255);
}

.login-information input:last-of-type {
  margin-top: 30px;
  width: 100%;
  background-color: rgb(127, 211, 214);
}

.login-information h4 {
  padding-bottom: 5px;
}

.login-information {
  height: 55%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.create-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  padding-top: 10px;
  background-color: #f1f1f1;
}
